{% extends "base.html"%}
{% block title %}Invited User Sign-up{% endblock %}

<!---- css/js dependencies ---->
{% block head %}
<script type="text/javascript" src="{{ static_file('js/rhizo/accounts.js') }}"></script>
<style>
form#form {
	margin-top: 10px;
}
</style>
{% endblock %}

<!---- js code ---->
{% block script %}
<script>


// fix(clean): reduce duplication with userInvitation.html
function validate() {

	// get field values
	var emailAddress = $('#emailAddress').val();
	var orgName = $('#orgName').val();
	var orgFolderName = $('#orgFolderName').val();
	var userName = $('#userName').val();
	var fullName = $('#fullName').val();
	var pw1 = $('#pw1').val();
	var pw2 = $('#pw2').val();

	// validate email address
	if (validEmailAddress(emailAddress) === false) {
		alert('Please enter an email address.');
		$('#emailAddress').focus();
		return false;
	}
	if (emailAddressExists(emailAddress)) {
		alert('An account with that email address already exists.');
		$('#emailAddress').focus();
		return false;
	}
	
	// validate organization name
	if (validOrganizationName(orgName) === false) {
		alert('Organization name required.');
		$('#orgName').focus();
		return false;
	}
	
	// validate organization name
	if (validFolderName(orgFolderName) === false) {
		alert('Organization folder name required.');
		$('#orgFolderName').focus();
		return false;
	}
	
	// validate user name
	if (userName) {
		if (validUserName(userName) === false) {
			alert('User name (if specified) must have at least 4 characters.');
			$('#userName').focus();
			return false;
		}
		if (userNameExists(userName)) {
			alert('That user name is already in use.');
			$('#userName').focus();
			return false;
		}
	}
	
	// validate password
	if (validPassword(pw1) === false) {
		alert('Password must have at least 8 characters.');
		$('#pw1').focus();
		return false;
	}
	if (pw1 !== pw2) {
		alert('Passwords do not match.');
		$('#pw2').focus();
		return false;
	}
	
	return true;
}


function checkEmailAddress() {
	checkEmailAddressExists($('#emailAddress').val(), true);
}


function checkUserName() {
	checkEmailAddressExists($('#userName').val(), true);
}


</script>
{% endblock %}

<!---- page content ---->
{% block content %}

<h2>Invited User Sign-up</h2>

<form id="form" method="POST" action="/create-account/{{ access_code }}" onsubmit="return validate();">

	<div class="form-group">
		<label for="orgName">Organization Name</label>
		<input type="text" id="orgName" name="orgName" class="form-control" value="{{ organization_name }}"></input>
	</div>

	<div class="form-group">
		<label for="orgFolderName">Organization Folder Name (no spaces)</label>
		<input type="text" id="orgFolderName" name="orgFolderName" class="form-control"></input>
	</div>

	<div class="form-group">
		<label for="emailAddress">User Email Address</label>
		<input type="email" id="emailAddress" name="email_address" class="form-control required email" value="{{ email_address }}" onblur="checkEmailAddress()"></input>
	</div>

	<div class="form-group">
		<label for="userName">User Name (optional, at least 4 characters; if not specified, you can log in with your email address)</label>
		<input type="text" id="userName" name="user_name" class="form-control" onblur="checkUserName()"></input>
	</div>

	<div class="form-group">
		<label for="fullName">Full Name (optional)</label>
		<input type="text" id="fullName" name="full_name" class="form-control"></input>
	</div>

	<div class="form-group">
		<label for="pw1">Password (at least 8 characters)</label>
		<input type="password" id="pw1" name="pw1" class="form-control"></input>
	</div>

	<div class="form-group">
		<label for="pw2">Repeat Password</label>
		<input type="password" id="pw2" name="pw2" class="form-control"></input>
	</div>

	<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"></input>
	<input type="submit" class="btn btn-primary" value="Submit"></input>
	
</form>

{% endblock %}