bcrypt
boto3==1.16.11
Flask
Flask-Login
Flask-RESTful
Flask-SQLAlchemy
Flask-Sockets
gevent
gevent-websocket  # remove this after switch to MQTT
greenlet
gunicorn  # make this optional
Markdown
paho-mqtt
Pillow
pyyaml==5.4
SQLAlchemy
twilio==6.46.0  # make this optional
xlrd
xlwt
