bcrypt
boto3==1.16.11
Flask==2.3.2  # pin to this version until migrate to flask 2.0
Flask-Login
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
Flask-Sockets
gevent
gevent-websocket  # remove this after switch to MQTT
greenlet
gunicorn  # make this optional
Markdown
paho-mqtt
Pillow
pyyaml>=5.4
SQLAlchemy
twilio==6.46.0  # make this optional
xlrd
xlwt
