bcrypt
boto
Flask
Flask-Login
Flask-RESTful
Flask-Sockets
Flask-SQLAlchemy
gevent
gevent-websocket
greenlet
gunicorn
Markdown
Pillow
pycrypto  # remove
SQLAlchemy
twilio==5.6.0  # make this optional
xlrd
xlwt
