/*********** GENERAL LAYOUT ***********/

body {
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;
	height: 100%;
}

h1,h2,h3,h4 {
	font-family: 'Open Sans', sans-serif;
}

h2 {
	margin-bottom: 4px;
}

h2:first-child {
	margin-top: 0px;
}

.btn-primary {
	background-color: #059b9a;
	border-color: #059b9a;
}

.btn-primary:hover {
	background-color: #15abaa;
	border-color: #059b9a;
}

/*********** NAV/HEADER/FOOTER ***********/

div#mainBody {
	width: 100%;
	min-height: 100vh;
	display: flex;
}

div#leftSide {
	background-color: #095169;
	min-width: 250px;
	max-width: 250px;
	padding: 20px;
}

div#rightSide {
	flex-grow: 1;
}

div.navBarDivider {
	width: 100%;
	height: 1px;
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #059b9a;
}

a.navBarItem {
	color: #ddd;
}

a#systemName {
	font-size: 22px;
	font-weight: 300;
	color: #ddd;
}

div#content {
	padding: 20px;
}

div#locNavBar {
	padding: 10px 20px;
	background-color: #eeeeee;
	border-bottom: 1px solid #dddddd;
}

div#noLocNavBar {
	/*margin-top: 15px;*/
}

.footer {
	padding-bottom: 15px;
	text-align: center;
	color: #ffffff;
}

/*********** GENERIC CLASSES ***********/

.indented {
	margin-left: 40px;
}

/*
.alignRight {
	text-align: right;
}

.alignLeft {
	text-align: left;
}

.clickable {
	cursor: pointer;
}
*/

/*********** LINKS ***********/

a {
	color: #059b9a;
}


a.box {
	color: #000000;
	text-decoration: none;
}

a.box:hover {
	color: #0088cc;
	text-decoration: none;
}

/*********** POPOVERS ***********/

.popover {
	width: auto;
}

/*********** HOME PAGE BOXES ***********/

div.boxHead {
	font-size: 36px;
	font-weight: 100;
	text-align: center;
}

div.boxHeadSmall {
	font-size: 28px;
	font-weight: 100;
	text-align: center;
}

div.redBox {
	font-size: 16px;
	padding: 20px;
	border: 1px solid #ff8800;
}

div.blueBox {
	font-size: 16px;
	padding: 20px;
	border: 2px dotted #0088cc;
}

/*********** TILES/ICONS FOR APPS/FOLDERS ***********/

div.tileIcon {
	padding: 5px;
	font-size: 22px;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
}

div.tileInnerBox {
	background-color: #ffffff;
	width: 150px;
	padding: 5px;
	color: #000000;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

div.tileTitle {
	font-weight: bold;
	font-size: 16px;
}

/*********** OTHER PAGE ELEMENTS ***********/

div.appHeading {
	margin-top: 10px;
	font-size: 22px;
}

/* fix(clean): remove this */
div.appIcon {
	padding: 5px;
	font-size: 22px;
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
}

a.adminLink {
	color: #dddddd;
}

