<!doctype html>
<html lang=en>
<head>
	<meta charset=utf-8>
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="expires" content="0">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<title>{% block title %}{{ g.system_name }}{% endblock %}</title>
	<link rel="shortcut icon" href="/static/favicon.ico">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{ static_file('css/rhizo/common.css') }}">
{% if g.use_system_css %}
	<link rel="stylesheet" type="text/css" href="{{ static_file('css/system.css') }}">
{% endif %}
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/static/bootstrap-3.4.1/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ static_file('js/rhizo/core.js') }}"></script>
	{% block head %}{% endblock %}
</head>
<body>

<div id="mainBody">
	<div id="leftSide">
		<!---- side navigation bar ---->
		<div><a href="/" id="systemName">{{ g.system_name }}</a></div>
		<div class="navBarDivider"></div>
		<div>
			{% if g.user.is_authenticated %}
				{% for org_name in g.organization_names %}
					{% if org_name.full_name != 'Docs' %}
						<div><a class="navBarItem" href="/{{ org_name.folder_name }}">{{ org_name.full_name }}</a></div>
					{% endif %}
				{% endfor %}
				<div class="navBarDivider"></div>
				<div><a class="navBarItem" href="/settings">Settings</a></div>
				<div><a class="navBarItem" href="/sign-out">Sign Out</a></div>
			{% else %}
				{{ g.extra_nav_items|safe }}
				<div><a class="navBarItem" href="/sign-in">Sign In</a></div>
			{% endif %}
			</ul>
		</div>
	</div>
	<div id="rightSide">
		<!---- location navigation ---->
		{% if hide_loc_nav %}
		<div id="noLocNavBar"></div>
		{% else %}
		<div id="locNavBar"><span id="locNav"></span><span id="menuArea" class="pull-right"></span></div>
		{% endif %}
		<!---- page content ---->
		<div id="content">
		{% block content %}{% endblock %}
		</div>
	</div>
</div>

<!---- js code at end of page body ---->
<script>
if (!window.console) {
	console = {log: function() { }};
}
var g_csrfToken = '{{ csrf_token() }}';
var g_mqttInfo = {{ mqtt_info()|tojson }};

// create nav bar links/text
{% if not hide_loc_nav %}
function buildLocationNav(fullPath) {
	var fullPath = fullPath.slice(1); // remove leading slash
	var parts = fullPath.split('/');
	var locNav = '';
	for (var i = 0; i < parts.length - 1; i++) {
		var path = '';
		for (var j = 0; j <= i; j++) {
			path += '/' + parts[j];
		}
		locNav += '<a href="' + path + '">' + parts[i] + '</a> / '
	}
	locNav += parts[parts.length - 1];
	return locNav;
}
$(function() {
	$('#locNav').html(buildLocationNav(window.location.pathname));
	$('.dropdown-toggle').dropdown();
});
{% endif %}

</script>
{% block script %}{% endblock %}
</body>
</html>
